.filter
    width 100%
    box vertical top left
    margin-bottom 16px

.filterItems
    box horizontal middle

    flex-wrap wrap
.filterItem
    border 1px solid #f0f0f2
    height 40px
    padding 0 44px 0 20px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 41px
    text-transform uppercase
    margin-right 6px
    cursor pointer
    margin-bottom 5px

.filterSelected
    box horizontal middle

.filterSelectedItem
    height 32px
    color #6d6e71
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 32px
    background-color #f5f5f5
    padding 0 27px
    margin-right 5px

.filterSelectedClear
    color #6d6e71
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 32px
    padding 0 27px 0 34px