.catalogSorting
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 300
    line-height 24px
    color #242424
    margin-bottom 16px
    a
        color #212121
        text-decoration none
        margin-right 9px