.modal.modalBlue#modal_order
    .modalClose
        +svgIcon('icon-close')
    .modalHeader
        h2 Ваша заявка уже у нас на почте
        p Скоро мы с Вами свяжемся
    .modalLogo
        +svgIcon('logo')
