.modal#modal_restore
    .modalClose
        +svgIcon('icon-close')
    .modalHeader
        h2
            | Вход
            a(href='#') Регистрация
    form.modalForm
        .modalFormItem
            .uiTextInputGroup
                input(type="text" placeholder="mail@mail.ru")
                label E-mail для восстановления

        .modalFormSubmit
            button.buttonBlueMedium Воcтановить доступ
