.productBottom
    box horizontal top
    margin-bottom 58px
.productDescription
    lost-column 1/2 2 0 flex
.productDescriptionText
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px
    margin-bottom 40px
.productDescriptionPresent
    box horizontal middle left
    &Icon
        margin-right 13px
        svg
            size 25px
    &Text
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase
.productFavoriteReviews
    lost-column 1/2 2 0 flex
    box vertical top right
.productFavoriteReview
    margin-bottom 29px
.productFavoriteReviewText
    display block
    padding 15px 26px
    size 255px 133px
    background-image url('../img/favoritereview-background.png')
    background-repeat no-repeat
    background-position 0 0
    color #90908f
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px
    margin-bottom 10px
.productFavoriteReviewAuthor
    box horizontal middle left
    &Icon
        margin-right 11px
        svg
            size 18px
            fill #44c8f5
    &Text
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 14px
.productFavoriteReviewButton
    margin-right 110px