.productBundle
    display block
    margin-bottom 45px

.productBundleHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 35px
    h2
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        text-transform uppercase
        color #242424
.productBundleItems
    box horizontal middle left
.productBundleItem
    lost-column 1/4 4 0 flex
    position relative
    align-self stretch
    .cardProduct
        padding-left 0
        padding-right 0
        padding-bottom 0
    &Plus
        &:after
            display block
            position absolute
            top calc(50% - 32px)
            right -32px
            content ''
            background-image inline('icon-bundle-plus.svg')
            background-size 26px
            background-repeat no-repeat
            background-position center center
            size 64px
            background-color #f5f5f5
            border-radius 32px
            z-index 10000
    &Equal
        &:after
            display block
            position absolute
            top calc(50% - 32px)
            right -32px
            content ''
            background-image inline('icon-bundle-equal.svg')
            background-size 26px
            background-repeat no-repeat
            background-position center center
            size 64px
            background-color #fff
            border-radius 32px
            z-index 10000
.productBundleFinal
    box vertical middle
    size 100%
    min-width 100%
    min-height 100%
    background-color #44c8f5
    padding 0px 37px 0 37px

.productBundleFinalName
    position relative
    color #fff
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    margin-bottom 30px
    &:after
        display block
        position absolute
        content ''
        left 0
        bottom -5px
        size 100% 2px
        background-color #fff

.productBundleFinalDescription
    color #fff
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px
    margin-bottom 70px

.productBundleFinalPrice
    box horizontal middle left
    margin-bottom 50px
    &Sale, &Value
        position relative
        color #fff
        font-size 27px
        line-height 20px
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-weight 300
        padding 0 20px
    &Sale
        margin-right 16px
        &:after
            position absolute
            content ''
            size 100% 2px
            background-color #fff
            top calc(50% + 1px)
            left 0

.productBundleAddCart
    box horizontal middle left
    display inline-flex !important
    background-color #f5f5f5
    height 40px
    padding 0 29px
    cursor pointer
    &Icon
        size 21px
        margin-right 15px
    &Text
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 41px
        text-transform uppercase
