.productHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 26px
    h1
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        color #242424
        text-transform uppercase
.productTypes
    box horizontal middle
    margin-bottom 42px
.productType
    box horizontal middle
    margin-right 50px
.productTypeIcon
    size 22px
    margin-right 8px
    svg
        size 22px
.productTypeText
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400