.productDiagnostic
    box vertical top left
.productDiagnosticHeader
    position relative
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    margin-bottom 18px
    &:after
        display block
        position absolute
        content ''
        size 100% 2px
        left 0
        bottom -3px
        background-color #242424
.productDiagnosticText
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 400
    line-height 28px
    margin-bottom 24px
