.productFooterSocial
    box horizotnal middle space-between
.productFooterSocialText
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px
.productFooterSocialLinks
    box horizontal middle right
.productFooterSocialLink
    margin-left 29px
    svg
        size 18px
        fill #000
.productFooterImage
    display block
    height 112px
    width 100%
    margin-bottom 55px