.productImages
    box vertical top left

.productImageSlider
    width 100%
    height 400px

.productImageSlide
    box vertical middle center
    img
        height 80%

.productImageSliderThumbs
    box horitzontal middle left
    margin-bottom 20px

.productImageSliderThumb
    position relative
    size 108px
    box vertical middle center
    cursor pointer
    img
        height 70px
        opacity 0.3
        transition all .4s
    &:hover
        img
            opacity 1
    &Active
        border 3px solid #f5f5f5
        img
            opacity 1
        &:after
            display block
            position absolute
            content ''
            triangle right-iso pointing-up
            width 16px
            top -8px
            left calc(50% - 8px)
            background-color #f5f5f5

.productRelatedVideo
    box vertical top left
    margin-bottom 125px
.productRelatedVideoItem
    text-decoration none
    box horizontal middle left
    &Icon
        margin-right 17px
        svg
            fill #44c7f4
            size 30px
    &Text
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 22px