.productPrices
    background-color #fff
    padding 40px
    margin-bottom 27px
.productPriceTop
    width 100%
    box horizontal middle space-between
    margin-bottom 40px
.productPrice
    box horizontal middle left
    &Sale, &Value
        position relative
        color #000
        font-size 36px
        line-height 20px
        font-family 'graphik', Arial, Helvetica, sans-serif
        padding 0 20px
    &Sale
        margin-right 36px
        &:after
            position absolute
            content ''
            size 100% 2px
            background-color #000
            top calc(50% + 1px)
            left 0
.productStock
    color #44c8f5
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.productPriceAdd
    box horizontal middle left
    margin-bottom 18px
.productPriceQty
    box horizontal middle left
    margin-right 45px
    &Minus
        svg
            size 16px
    &Plus
        svg
            size 16px
    &Text
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 28px
        padding 0 10px
 .productPriceAddCart
    position relative
    border 0
    outline 0
    background-color #44c8f5
    height 40px
    transition all .4s
    box horizontal middle
    padding 1px 28px 0
    cursor pointer
    &Text
        font-family "graphik", Arial, Helvetica, sans-serif
        text-decoration none
        font-size 14px
        font-weight 300
        line-height 40px
        color #fff
        text-transform uppercase
    &Icon
        margin-right 8px
        svg
            size 21px
            fill #fff
    &:hover
        color #fff
        background-color #87dbff

.productPriceAddWish
    position relative
    border 0
    outline 0
    height 40px
    transition all .4s
    box horizontal middle
    padding 1px 28px 0
    cursor pointer
    &Text
        font-family "graphik", Arial, Helvetica, sans-serif
        text-decoration none
        font-size 14px
        font-weight 300
        line-height 40px
        color #242424
        text-transform uppercase
    &Icon
        margin-right 8px
        svg
            size 24px
            fill #44c8f5
            overflow visible
            transition: all .5s easeOutBack
            #hover
                fill #44c8f5
                transform: scale(0);
                transform-origin: center;
                transition: all .5s easeOutBack
.productPriceDelivery
    color #242424
    font-size 14px
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-weight 300
    line-height 22px
    margin-bottom 25px
.productPriceBuy
    box horizontal middle
    &Icon
        size 22px
        margin-right 20px
        svg
            size 22px
    &Text
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 14x
        text-transform uppercase