.productTabs
    display block
.productTabControls
    box horizontal middle left
    margin-bottom 36px
.productTabButton
    display inline-block
    position relative
    border 0
    outline 0
    color #242424
    background-color #fff
    font-family 'graphik', Arial, Helvetica, sans-serif
    text-decoration none
    font-size 14px
    font-weight 400
    line-height 40px
    padding 1px 28px 0
    text-transform uppercase
    height 40px
    transition all .4s
    cursor pointer
    &:hover, &Active
        color #fff
        background-color #242424
.productReviews
    box vertical top left

.productReview
    box horizontal top left
    margin-bottom 39px
.productReviewAvatar
    flex 1 1 50px
    size 50px
    min-width 50px
    margin-right 25px
    background-color #f5f5f5
    box vertical middle center
    svg
        size 22px
    img
        size 50px
.productReviewContent
    flex 1 1 auto
    box vertical top left
.productReviewDate
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px
    margin-bottom 10px
.productReviewAuthor
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    margin-bottom 18px
.productReviewText
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px
.productReviewPhoto
    flex 1 1 110px
    size 110px
    min-width 110px
    margin-left 25px
    box vertical middle center
    img
        height 110px

 .productReviewForm
    background-color #f8f8f8
    padding 46px 38px
.productReviewFormHeader
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 30px
    font-weight 600
    line-height 36px
.productReviewFormLabel
    display block
    color #44c8f5
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 10px
    font-weight 400
    line-height 36px
    text-transform uppercase
.productReviewFormTextarea
    border 0
    width 100%
    height 30px
    background-color transparent
    border-bottom 2px solid #000
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px
    margin-bottom 38px
.productReviewFormSubmits
    box horizontal middle left
    .buttonBlueMedium
        margin-right 15px
.productReviewFormFile
    box horizontal middle left
    cursor pointer
    &Icon
        size 40px
        background-color #fff
        margin-right 13px
        box vertical middle center
        svg
            size 15px
            fill #44c8f5
    &Text
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 41px
        text-transform uppercase