.uiTextInputGroup
    display block
    position relative
    input
        width 100%
        border 0
        border-bottom 2px solid #242424
        background-color transparent
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase
    label
        display block
        position absolute
        top 0
        left 1px
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase
        transition all .4s
.uiTextInputGroupFocus
    label
        transform translateY(-20px)
        font-size 11px
        color #44c8f5

.uiTextInputGroupWhite
    input
        color #fff
        border-bottom 2px solid #fff
    label
        color #fff
    .uiTextInputGroupFocus
        color #fff
