.page
    width 100%
    padding 0 125px
    margin-bottom 50px
    //clear fix
.pageHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 45px
    box horizontal middle space-between
    h1
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        text-transform uppercase
        color #242424
    data
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px

.pageContent
    lost-column 10/12 1
    lost-offset 1/12
    margin-bottom 60px
    h3
        color #90908f
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 28px
        margin-bottom 43px
    p
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px
        margin-bottom 43px

.pageSuggest
    display block
    box vertical top
    width 100%
    margin-bottom 40px
.pageSuggestHeader
    margin-bottom 10px
    h3
        display inline-block
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase
        border-bottom 2px solid #242424
        margin-bottom 10px
