 .modalDemo
    height 1000px
    padding 0 130px
    box vertical top left
    button
        margin-bottom 20px
.overlay
    position fixed
    size 100%
    //z-index -1
    opacity 0
    background-color rgba(0,0,0, .7)
    top 0
    left 0
    transition opacity .4s
    pointer-events none
.overlayShow
    opacity 1
    z-index 9000

.modalBodyShow
    position fixed
    overflow hidden
    size 100% 100vh

.modal
    left center
    top center
    z-index 9500
    background-color #fff
    padding 91px 98px
    opacity 0
    z-index -1
    pointer-events none
    transition opacity .3s
    box-shadow 0 2px 21px rgba(35, 64, 77, 0.48)
    max-width 815px
    .cardSale
        box-shadow none
.modalBlue
    background-color #44c8f5
    .modalHeader
        h2, p
            color #fff
.modalYellow
    background-color #f7d15e

.modalSmallPadding
    padding 40px 60px
.modalShow
    opacity 1
    z-index 9500
    pointer-events all
    transition opacity 0s !important

.modalClose
    position absolute
    top 28px
    right 28px
    svg
        size 18px

.modalHeader
    margin-bottom 30px
    h2
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 30px
        font-weight 600
        line-height 36px
        margin-bottom 12px
        a
            color #44c8f5
            text-decoration none
            margin-left 55px
    p
        color #242424
        font-family "Open Sans"
        font-size 18px
        font-weight 400
        line-height 28px
        margin-bottom 10px
.modalFormRow
    box horizontal middle
    margin-bottom 40px
.modalFormItem
    width 630px
    margin-bottom 40px
.modalFormItemHalf
    lost-column 1/2 2 42px flex

.modalLogo
    box horizontal middle center
    svg
        size 100px
        fill #fff !important

.modalLoginSocial
    a
        text-decoration none
        margin-right 30px
        svg
            size 20px