.headerTop
    width 100%
    background-color #fafafa
    height 42px
    margin-bottom 20px
    &Wrap
        //max-width 1224px
        padding 0 125px
        margin 0 auto
        height 42px
        position relative
        box horizontal middle space-between
.headerTopWork
    flex 0 1 auto
    color #010101
    font-family "Open Sans", Arial, Helvetica, sans-serif
    font-size 12px
    font-weight 400

.headerTopPhone
    flex 0 1 auto
    height 42px
    box horizontal middle
.headerTopPhoneLink
    flex 0 1 auto
    margin-right 36px
    a
        display block
        color #000
        font-family 'Open Sans', Arial, Helvetica, sans-serif
        font-size 12px
        font-weight 400
        text-decoration none
.headerTopPhoneButton
    flex 0 1 auto
.headerTopAccount
    box horizontal middle
    color #010101
    font-family 'Open Sans', Arial, Helvetica, sans-serif
    font-size 12px
    font-weight 400
.headerTopLogin
    box horizontal middle
    margin-right 5px
    &Text
        color #010101
        font-family 'Open Sans', Arial, Helvetica, sans-serif
        font-size 12px
        font-weight 400
    svg
        margin-right 10px
        size 13px
        fill none
        stroke #000
.headerTopRegistation
    box horizontal middle
    margin-left 5px
    &Text
        color #010101
        font-family 'Open Sans', Arial, Helvetica, sans-serif
        font-size 12px
        font-weight 400

.headerTopSocial
    a
        text-decoration none
        margin-right 10px
        svg
            size 14px