.headerSearch
    position relative

.buttonSearch
    position relative
    size 23px
    border 0
    outline 0
    box vertical middle center
    background-color #f3f2f3
    z-index 160
    svg
        size 16px
.headerSearchInput
    display block
    position absolute
    right 0
    top 0
    width 705px
    height 23px
    border 2px solid #f3f2f3
    background-color #ffffff
    z-index 155
    opacity 0
    visibility hidden
    transition all .3s
    input
        height 19px
        padding 0 25px
        color #242424
        font-family "Open Sans"
        font-size 14px
        font-weight 300
        line-height 22px
        border 0
        outline 0
        width 100%
    &IsShow
        opacity 1
        visibility visible

.headerSearchPanel
    display block
    position absolute
    width calc(100% + 4px)
    background-color #fff
    padding 30px 30px 0
    border 2px solid #f3f2f3
    border-top 0
    top 19px
    left -2px
    z-index 160
    opacity 0
    visibility hidden
    transition all .3s
.headerSearchPanelIsShow
    opacity 1
    visibility visible
.headerSearchPanelHeader
    color #242424
    font-family "Decima Mono X"
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    margin-bottom 22px
    a
        color #44c8f5
        font-family "Open Sans"
        font-size 14px
        font-weight 300
        line-height 22px
        text-decoration none
        margin-left 16px
        text-transform none
        transition all .4s
        &:hover
            //text-decoration underline
            color darken(#44c8f5, 20%)
.headerSearchPanelItems
    box horizontal middle
    margin-bottom 46px
.headerSearchPanelItem
    lost-column 1/2 2 flex
    box horizontal top
    text-decoration none
.headerSearchPanelItemImage
    width 65px
    box vertical middle center
    img
        max-width 50px
.headerSearchPanelItemText
    margin-left 20px
    h3
        color #242424
        font-family "Open Sans"
        font-size 18px
        font-weight 600
        line-height 28px
    span
        color #000000
        font-size 16px
        line-height 20px
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-weight 300