doctype
html
    head
        title Libra
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, user-scalable=yes")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700&amp;subset=cyrillic" rel="stylesheet")
        link(href='./css/main.css', type="text/css", rel="stylesheet")
        //- script(src="./js/preload.js")
        //- include _svg.jade
        //- include _mixin.jade


    body
        include _svg.pug
        include block/_header.pug

        block content

        include block/_footer.pug
        script(src="./js/app.js")
