extends _layout

block content
    .cabinet
        .cabinetSidebar
            .cabinetSidebarAvatar
                +svgIcon('icon-people')
            .cabinetSidebarName
                | Ирина Михайловна
            .cabinetSidebarMenu
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-setting')
                    .cabinetSidebarMenuItemText
                        | Настройка профиля
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-logout')
                    .cabinetSidebarMenuItemText
                        | Выход
                .cabinetSidebarMenuItemSpacer
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-history')
                    .cabinetSidebarMenuItemText
                        | История заказов
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-cart2')
                    .cabinetSidebarMenuItemText
                        | Купленные товары
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-bonus')
                    .cabinetSidebarMenuItemText
                        | Бонусные баллы


        .cabinetMain
            .cabinetHeader
                h1 История заказов
            .cabinetContent
                .cabinetHistoryFilter
                    a(href="#") Текущие
                    a(href="#") Завершенные
                    a(href="#") Невыкупленные
                .cabinetHistroryItems
                    .cabinetHistroryItem
                        .cabinetHistroryItemStatus.cabinetHistroryItemStatusBlack
                            | В пути
                        .cabinetHistroryItemHeader
                            h3 Заказ №545888  от 24 октября 2016
                            span
                                +svgIcon('icon-setting')
                        .cabinetHistroryItemTable
                            table
                                tr
                                    td Способ получения
                                    td Курьером
                                tr
                                    td Адрес доставки
                                    td г. Санкт_петербург, Невский проспект, дом 5, офис 15
                                tr
                                    td В заказе
                                    td Крем, пудра, тушь
                                tr
                                    td Сумма
                                    td
                                        | 1500
                                        span.ruble г
                                tr
                                    td Тип оплаты
                                    td Онлайн на сайте (ждёт оплаты)
                    .cabinetHistroryItem
                        .cabinetHistroryItemStatus.cabinetHistroryItemStatusGrey
                            | В пути
                        .cabinetHistroryItemHeader
                            h3 Заказ №545888  от 24 октября 2016
                            span
                                +svgIcon('icon-setting')
                        .cabinetHistroryItemTable
                            table
                                tr
                                    td Способ получения
                                    td Курьером
                                tr
                                    td Адрес доставки
                                    td г. Санкт_петербург, Невский проспект, дом 5, офис 15
                                tr
                                    td В заказе
                                    td Крем, пудра, тушь
                                tr
                                    td Сумма
                                    td
                                        | 1500
                                        span.ruble г
                                tr
                                    td Тип оплаты
                                    td Онлайн на сайте (ждёт оплаты)
                    .cabinetHistroryItem
                        .cabinetHistroryItemStatus.cabinetHistroryItemStatusGrey
                            | В пути
                        .cabinetHistroryItemHeader
                            h3 Заказ №545888  от 24 октября 2016
                            span
                                +svgIcon('icon-setting')
                        .cabinetHistroryItemTable
                            table
                                tr
                                    td Способ получения
                                    td Курьером
                                tr
                                    td Адрес доставки
                                    td г. Санкт_петербург, Невский проспект, дом 5, офис 15
                                tr
                                    td В заказе
                                    td Крем, пудра, тушь
                                tr
                                    td Сумма
                                    td
                                        | 1500
                                        span.ruble г
                                tr
                                    td Тип оплаты
                                    td Онлайн на сайте (ждёт оплаты)



