extends _layout

block content
    .cart
        .cartHeader
            h1 ОФОРМИТЬ ЗАКАЗ
            a(href="#") изменить заказ
        .cartOrder
            .cartOrderTop
                .cartOrderItems
                    .cartOrderItem
                        img(src="img/item-1.png")
                        .cartOrderItemBadge
                            span 2
                    .cartOrderItem
                        img(src="img/item-1.png")
                    .cartOrderItem
                        img(src="img/item-1.png")
                        .cartOrderItemBadge
                            span 2
                    .cartOrderItemTotal
                        | 5 товаров
                .cartOrderTotal
                    .cartOrderTotalText
                        | Итого сумма
                    .cartOrderTotalPrice
                        | 299
                        .ruble г
                        span
                            | (299
                            .ruble г
                            |  бонусами)

            .cartOrderForm
                .cartOrderFormBigItem
                    .cartOrderFormBigItemLabel
                        label Регион
                    .cartOrderFormBigItemSelect
                        select.select
                            option Москва
                            option Санкт-Петербург
                        span * на текущий момент доставка осуществляется только по Москве
                .cartOrderFormBigItem
                    .cartOrderFormBigItemLabel
                        label Доставка
                    .cartOrderFormBigItemDelivery
                        .cartOrderIconItem
                            .cartOrderIconItemIcon
                                +svgIcon('icon-courer')
                            .cartOrderIconItemText
                                | Курьером <br> от 250
                                .ruble г
                        .cartOrderIconItem.cartOrderIconItemActive
                            .cartOrderIconItemIcon
                                +svgIcon('icon-office')
                            .cartOrderIconItemText
                                | Самовывоз <br> бесплатно
                                .ruble г
                        .cartOrderIconItem
                            .cartOrderIconItemIcon
                                +svgIcon('icon-post')
                            .cartOrderIconItemText
                                | Почтой <br> от 100
                                .ruble г
                .cartOrderFormBigItem
                    .cartOrderFormBigItemLabel
                        label Доставка
                    .cartOrderFormBigItemDelivery
                        .cartOrderIconItem
                            .cartOrderIconItemIcon
                                +svgIcon('icon-wallet')
                            .cartOrderIconItemText
                                | Наличными
                .cartOrderFormSubheader
                    h2 Личные данные
                    p
                        | если Вы ранее заказывали у нас, войдите в&nbsp
                        a(href="#") личный кабинет

                .cartOrderFormItem
                    .uiTextInputGroup
                        input(type="text" placeholder="+7 259 999 55 55")
                        label Телефон
                .cartOrderFormItem
                    .uiTextInputGroup
                        input(type="text" placeholder="Наталья Петрова")
                        label Имя
                .cartOrderFormItem
                    .uiTextInputGroup
                        input(type="text" placeholder="mail@mail.ru")
                        label e-mail
                .cartOrderFormItem
                    .uiTextInputGroup
                        input(type="text" placeholder="Текс")
                        label коментарий к заказу
                .cartOrderFormTotal
                    .cartOrderFormTotalItem
                        .cartOrderFormTotalItemText
                            | Сумма доставки
                        .cartOrderFormTotalItemPrice
                            | 1000
                            .ruble г
                    .cartOrderFormTotalItem
                        .cartOrderFormTotalItemText
                            | Итого сумма
                        .cartOrderFormTotalItemPrice
                            | 299
                            .ruble г
                            span
                                | (299
                                .ruble г
                                |  бонусами)
                .cartOrderFormSubmit
                    button.buttonBlueMedium Купить