extends _layout

block content
    .catalog
        .catalogSection
            .catalogSectionHeader
                h1 ВСЯ ПРОДУКЦИЯ
            include block/_filter.pug
            a(href="#").catalogTextBlock
                .catalogTextBlockImage
                    img(src="img/blog-2.jpg", alt="")
                .catalogTextBlockText
                    h3 Узнать больше о гиалуроновой коллекции
                    p Гиалуроновая кислота — самый мощный и актуальный в косметологии увлажнитель.
            .catalogSorting
                | Сортировать:&nbsp
                a(href="#") по цене
                a(href="#") по акции
                a(href="#") со скидкой
                a(href="#") распродажа
            .catalogSectionContent
                .catalogRow
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                .catalogDoubleRow
                    .catalogCellThird
                        a(href="#").cardProduct.cardProductVertical.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                    .catalogCellThird
                        a(href="#").cardProduct.cardProductVertical.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                    .catalogCellThird
                        a(href="#").cardProduct.cardProductVertical.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                .catalogDoubleRow
                    .catalogCellSixth.catalogCellSixthVertical
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductVertical.cardProductYellow
                            .cardProductLabel
                                | Новинка
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                .catalogDoubleRow
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductVertical.cardProductWhite
                            .cardProductLabel
                                | Новинка
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                    .catalogCellSixth.catalogCellSixthVertical
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg

            .pagination
                .paginationButton
                    a(href="#").paginationButtonPrev Предыдущая
                    a(href="#").paginationButtonNext Следующая
                .paginationItem
                    a(href="#").paginationItemActive 1
                    a(href="#") 2
                    a(href="#") 3
                    a(href="#") 4
                    a(href="#") 5
                    a(href="#") 6
                    a(href="#") ...
                    a(href="#") 10