extends _layout

block content
    .collection
        .collectionSection
            .collectionSectionHeader
                h1 АКЦИИ
            .collectionSectionContent
                .collectionBigRow
                    .collectionCellSixth
                        a(href="#").cardCollection.cardCollectionBig.cardCollectionYellow
                            .cardCollectionLabel Новинка
                            .cardCollectionContent
                                .cardCollectionLeft
                                    .cardCollectionHeader
                                        span Серацин
                                    .cardCollectionDescription
                                        | Гиалуроновая кислота — самый мощный и актуальный в косметологии увлажнитель.
                                    .cardCollectionControl
                                        button.buttonWhite
                                            paper-ripple
                                            | О КОЛЛЕКЦИИ
                                .cardCollectionRight
                                    .cardCollectionImage
                                        img(src="img/item-1.png", alt="alt")
                    .collectionCellSixth
                        a(href="#").cardCollection.cardCollectionBig.cardCollectionWhite
                            .cardCollectionLabel Новинка
                            .cardCollectionContent
                                .cardCollectionLeft
                                    .cardCollectionHeader
                                        span Серацин
                                    .cardCollectionDescription
                                        | Гиалуроновая кислота — самый мощный и актуальный в косметологии увлажнитель.
                                    .cardCollectionControl
                                        button.buttonGrey
                                            | О КОЛЛЕКЦИИ
                                .cardCollectionRight
                                    .cardCollectionImage
                                        img(src="img/item-1.png", alt="alt")
                .collectionBigRow
                    .collectionCellSixth
                        a(href="#").cardCollection.cardCollectionBig.cardCollectionLightGrey
                            .cardCollectionContent
                                .cardCollectionLeft
                                    .cardCollectionHeader
                                        span Серацин
                                    .cardCollectionDescription
                                        | Гиалуроновая кислота — самый мощный и актуальный в косметологии увлажнитель.
                                    .cardCollectionControl
                                        button.buttonWhite
                                            | О КОЛЛЕКЦИИ
                                .cardCollectionRight
                                    .cardCollectionImage
                                        img(src="img/item-1.png", alt="alt")
                    .collectionCellSixth
                        a(href="#").cardCollection.cardCollectionBig.cardCollectionBlue
                            .cardCollectionLabel Новинка
                            .cardCollectionContent
                                .cardCollectionLeft
                                    .cardCollectionHeader
                                        span Серацин
                                    .cardCollectionDescription
                                        | Гиалуроновая кислота — самый мощный и актуальный в косметологии увлажнитель.
                                    .cardCollectionControl
                                        button.buttonWhite
                                            | О КОЛЛЕКЦИИ
                                .cardCollectionRight
                                    .cardCollectionImage
                                        img(src="img/item-1.png", alt="alt")
                .collectionBigRow
                    .collectionCellSixth
                        a(href="#").cardCollection.cardCollectionBig.cardCollectionWhite
                            .cardCollectionContent
                                .cardCollectionLeft
                                    .cardCollectionHeader
                                        span Серацин
                                    .cardCollectionDescription
                                        | Гиалуроновая кислота — самый мощный и актуальный в косметологии увлажнитель.
                                    .cardCollectionControl
                                        button.buttonGrey
                                            | О КОЛЛЕКЦИИ
                                .cardCollectionRight
                                    .cardCollectionImage
                                        img(src="img/item-1.png", alt="alt")
                    .collectionCellSixth
                        a(href="#").cardCollection.cardCollectionBig.cardCollectionGrey
                            .cardCollectionLabel Новинка
                            .cardCollectionContent
                                .cardCollectionLeft
                                    .cardCollectionHeader
                                        span Серацин
                                    .cardCollectionDescription
                                        | Гиалуроновая кислота — самый мощный и актуальный в косметологии увлажнитель.
                                    .cardCollectionControl
                                        button.buttonWhite
                                            | О КОЛЛЕКЦИИ
                                .cardCollectionRight
                                    .cardCollectionImage
                                        img(src="img/item-1.png", alt="alt")