extends _layout

block content
    .main
        .mainGrid
            .mainSection
                .mainSlider.swiper-container
                    .swiper-wrapper
                        .mainSlide.swiper-slide
                            .mainSlideLeft
                                .mainSlideLeftImage
                                    img(src="img/item-1.png", alt="alt")
                                .mainSlideLeftContent
                                    .mainSlideLeftContentSlogan
                                        | Только то, что нужно твоей коже
                                    .mainSlideLeftContentText
                                        | Против периодических <br/> проблем с кожей
                                    .mainSlideLeftContentControl
                                        a(href="#").buttonBlueMedium
                                            | О КОЛЛЕКЦИИ
                            .mainSlideRight
                                img(src="img/mainslide.png", alt="alt")
                        .mainSlide.swiper-slide
                            .mainSlideLeft
                                .mainSlideLeftImage
                                    img(src="img/item-1.png", alt="alt")
                                .mainSlideLeftContent
                                    .mainSlideLeftContentSlogan
                                        | Только то, что нужно твоей коже
                                    .mainSlideLeftContentText
                                        | Против периодических <br/> проблем с кожей
                                    .mainSlideLeftContentControl
                                        button.buttonBlue
                                            | О КОЛЛЕКЦИИ
                            .mainSlideRight
                                img(src="img/mainslide.png", alt="alt")
                    //- TODO Заменить иконки на svg
                    .mainSliderPrev
                    .mainSliderNext
                    .mainSliderPagginator
                .mainRow
                    .mainCellThird
                        a(href="#").cardCollection.cardCollectionYellow
                            .cardCollectionContent
                                .cardCollectionLeft
                                    .cardCollectionHeader
                                        span Серацин
                                    .cardCollectionDescription
                                        | Гиалуроновая кислота — самый мощный и актуальный в косметологии увлажнитель.
                                    .cardCollectionControl
                                        button.buttonWhite
                                            | О КОЛЛЕКЦИИ
                                .cardCollectionRight
                                    .cardCollectionImage
                                        img(src="img/item-1.png", alt="alt")
                    .mainCellThird
                        a(href="#").cardCollection.cardCollectionGrey
                            .cardCollectionContent
                                .cardCollectionLeft
                                    .cardCollectionHeader
                                        span Серацин
                                    .cardCollectionDescription
                                        | Гиалуроновая кислота — самый мощный и актуальный в косметологии увлажнитель.
                                    .cardCollectionControl
                                        button.buttonWhite
                                            | О КОЛЛЕКЦИИ
                                .cardCollectionRight
                                    .cardCollectionImage
                                        img(src="img/item-1.png", alt="alt")
                    .mainCellThird
                        a(href="#").cardCollection.cardCollectionWhite
                            .cardCollectionContent
                                .cardCollectionLeft
                                    .cardCollectionHeader
                                        span Серацин
                                    .cardCollectionDescription
                                        | Гиалуроновая кислота — самый мощный и актуальный в косметологии увлажнитель.
                                    .cardCollectionControl
                                        button.buttonGrey
                                            | О КОЛЛЕКЦИИ
                                .cardCollectionRight
                                    .cardCollectionImage
                                        img(src="img/item-1.png", alt="alt")

                .mainRow
                    .mainCellSeventh
                        .cardAbout
                            .cardAboutHeader
                                span о компании Librederm
                            .cardAboutContent
                                | Уникальная и высококачественная космецевтика, объединившая в себе лучшие достижения и разработки косметологии и фармакологии. Высокое качество компонентов, безопасность и доступная цена — вот что отличает средства LIBREDERM®!
                    .mainCellFifth
                        .cardVideo
                            .cardVideoImage(style='background-image: url("img/video.png")')
                            .cardVideoContent
                                .cardVideoTitle
                                    span Телеведущая Татьяна Арно
                                .cardVideoQuote
                                    | “Хочу быть красивой и буду”
                                .cardVideoControl
                                    button.buttonGrey
                                        +svgIcon('icon-play')
                                        | Видео

                .mainRow
                    .mainCellFifth
                        .cardSimple.cardSimpleGrey
                            .cardSimpleHeader
                                span диагностика
                            .cardSimpleContent
                                p Пройди тест и узнай свой тип кожи
                            .cardSimpleControl
                                button.buttonBlue
                                    | О КОЛЛЕКЦИИ
                    .mainCellSeventh
                        .cardSubscribe.cardSubscribeBlue
                            .cardSubscribeHeader
                                span Подписывайтесь на нашу рассылку
                            .cardSubscribeContent
                                | Следите за обновлениями, новинками и акциями от ЛибреДерм
                            form.cardSubscribeForm
                                .cardSubscribeFormItems
                                    .cardSubscribeFormItem
                                        .uiTextInputGroup.uiTextInputGroupWhite
                                            input(type="text" placeholder="Имя")
                                            label Имя
                                    .cardSubscribeFormItem
                                        .uiTextInputGroup.uiTextInputGroupWhite
                                            input(type="text" placeholder="mail@mail.ru")
                                            label E-mail
                                .cardSubscribeFormSubmit
                                    button.buttonWhite
                                        | ПОдписаться
            .mainSection
                .mainSectionHeader
                    h2 Рекомендуем
                .mainSectionContent
                    .mainRow
                        .mainCellSeventh
                            a(href="#").cardProduct
                                .cardProductImage
                                    img(src="img/item-1.png", alt="alt")
                                .cardProductContent
                                    .cardProductHeader
                                        | солнцезащитный бальзам для губ bronzeada с пантенолом
                                    .cardProductDescription
                                        | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                    .cardProductRow
                                        .cardProductPrice
                                            | 399
                                            .ruble г
                                        .cardProductCart
                                            +svgIcon('icon-cart')
                                        .cardProductWhish
                                            include ../svg/icon-wishlist.svg
                        .mainCellFifth
                            a(href="#").cardProduct.cardProductLightYellow
                                .cardProductImage
                                    img(src="img/item-1.png", alt="alt")
                                .cardProductContent
                                    .cardProductContentWrap
                                        .cardProductHeader
                                            | Ультра реаниматор
                                        .cardProductDescription
                                            | Лак для ногтей
                                        .cardProductColorsSlider
                                            .cardProductColors.swiper-container
                                                .swiper-wrapper
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                            .cardProductColorsNext
                                                +svgIcon('icon-arrow')
                                        .cardProductRow
                                            .cardProductPrice
                                                | 399
                                                .ruble г
                                            .cardProductCart
                                                +svgIcon('icon-cart')
                                            .cardProductWhish
                                                include ../svg/icon-wishlist.svg
                    .mainDoubleRow
                        .mainCellFifth.mainCellFifthVertical
                            a(href="#").cardProduct.cardProductYellow
                                .cardProductImage
                                    img(src="img/item-1.png", alt="alt")
                                .cardProductContent
                                    .cardProductHeader
                                        | солнцезащитный бальзам для губ bronzeada с пантенолом
                                    .cardProductDescription
                                        | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                    .cardProductRow
                                        .cardProductPrice
                                            | 399
                                            .ruble г
                                        .cardProductCart
                                            +svgIcon('icon-cart')
                                        .cardProductWhish
                                            include ../svg/icon-wishlist.svg
                            a(href="#").cardSale.cardSaleBlue
                                .cardSaleContent
                                    .cardSaleHeader
                                        .cardSaleHeaderText
                                            | Акция <br> остался месяц
                                        .cardSaleHeaderValue
                                            | 75%
                                    .cardSaleDescription
                                        | C марта по июнь при покупке любого товара крем вокруг глаз с Васильком  со скидкой

                                .cardSaleImage
                                    img(src="img/item-2.png", alt="alt")
                        .mainCellTwo
                            .cardAdvantage
                                .cardAdvantageHeader
                                    | Доставляем <br> по всей России
                                .cardAdvantageItems
                                    .cardAdvantageItem
                                        .cardAdvantageItemIcon
                                            +svgIcon('icon-courer')
                                        .cardAdvantageItemText
                                            | Курьером
                                    .cardAdvantageItem
                                        .cardAdvantageItemIcon
                                            +svgIcon('icon-office')
                                        .cardAdvantageItemText
                                            | Самовывоз
                                    .cardAdvantageItem
                                        .cardAdvantageItemIcon
                                            +svgIcon('icon-post')
                                        .cardAdvantageItemText
                                            | Почтой

                        .mainCellFifth
                            a(href="#").cardProduct.cardProductVertical
                                .cardProductImage
                                    img(src="img/item-1.png", alt="alt")
                                .cardProductContent
                                    .cardProductHeader
                                        | солнцезащитный бальзам для губ bronzeada с пантенолом
                                    .cardProductDescription
                                        | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                    .cardProductRow
                                        .cardProductPrice
                                            | 399
                                            .ruble г
                                        .cardProductCart
                                            +svgIcon('icon-cart')
                                        .cardProductWhish
                                            include ../svg/icon-wishlist.svg
                    .mainDoubleRow
                        .mainCellTwo
                            .cardAdvantage
                                .cardAdvantageHeader
                                    | Способ оплаты
                                .cardAdvantageItems
                                    .cardAdvantageItem
                                        .cardAdvantageItemIcon
                                            +svgIcon('icon-wallet')
                                        .cardAdvantageItemText
                                            | Наличные
                                    .cardAdvantageItem
                                        .cardAdvantageItemIcon
                                            img(src="img/visa.png")
                                        .cardAdvantageItemText
                                            | Картой
                                    .cardAdvantageItem
                                        .cardAdvantageItemIcon
                                            img(src="img/webmoney.png")
                                        .cardAdvantageItemText
                                            | Электронные <br> деньги
                        .mainCellFifth
                            a(href="#").cardProduct.cardProductVertical
                                .cardProductImage
                                    img(src="img/item-1.png", alt="alt")
                                .cardProductContent
                                    .cardProductHeader
                                        | солнцезащитный бальзам для губ bronzeada с пантенолом
                                    .cardProductDescription
                                        | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                    .cardProductRow
                                        .cardProductPrice
                                            | 399
                                            .ruble г
                                        .cardProductCart
                                            +svgIcon('icon-cart')
                                        .cardProductWhish
                                            include ../svg/icon-wishlist.svg
                        .mainCellFifth.mainCellFifthVertical
                            a(href="#").cardProduct.cardProductWhite
                                .cardProductImage
                                    img(src="img/item-1.png", alt="alt")
                                .cardProductContent
                                    .cardProductHeader
                                        | солнцезащитный бальзам для губ bronzeada с пантенолом
                                    .cardProductDescription
                                        | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                    .cardProductRow
                                        .cardProductPrice
                                            | 399
                                            .ruble г
                                        .cardProductCart
                                            +svgIcon('icon-cart')
                                        .cardProductWhish
                                            include ../svg/icon-wishlist.svg
                            a(href="#").cardProduct.cardProductLightYellow
                                .cardProductImage
                                    img(src="img/item-1.png", alt="alt")
                                .cardProductContent
                                    .cardProductHeaderWrap
                                        .cardProductHeaderNew
                                            | новинка
                                    .cardProductDescription
                                        | Молочко для снятия макияжа Витамин F
                                    .cardProductRow
                                        .cardProductPrice
                                            | 399
                                            .ruble г
                                        .cardProductCart
                                            +svgIcon('icon-cart')
                                        .cardProductWhish
                                            include ../svg/icon-wishlist.svg
                .mainSectionFooter
                    button.buttonBlueMore
                        | +
                    a(href="#").buttonGreyBig
                        | в каталог

            include block/_mainblog.pug
            include block/_mainsocial.pug