.footer
    display block
    box horizotal top
    width 100%
    padding 0 125px

.footerCopyright
    text-align center
    color #878786
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 30px
    text-decoration none
    margin-bottom 35px
.footerRows
    width 100%
.footerRow
    box horizontal top
    width 100%
    .footerColumn
        lost-column 1/3
.footerColumn
    lost-column 3/12

.footerLogo
    margin-bottom 35px
    svg
        size 100px
.footerMenu
    box vertical top left
    margin-bottom 35px
.footerMenuHeader
    display inline-block
    width auto
    position relative
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    color #242424
    margin-bottom 26px
    min-height 23px
    &:after
        position absolute
        content ''
        size 100% 2px
        background-color #000
        left 0
        bottom -4px
.footerMenuItem
    position relative
    color #878786
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 30px
    text-decoration none
    width 100%
    &:after
        display block
        position absolute
        size 90% 100%
        content ''
        left -10px
        top 0
        background-color #f0f0f2
        opacity 0
        z-index -1
        transition all .2s
    &:hover
        color #000
        &:after
            opacity 1

.footerSocial
    box horizontal middle left
.footerSocialItem
    size 20px
    margin-right 20px
    svg
        size 20px
        *
            fill #000 !important