.blogTopics
    box horizontal middle
    margin-bottom 31px
.blogTopic
    margin-right 7px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 40px
    text-transform uppercase
    height 40px
    border 1px solid #f0f0f2
    padding 0 22px
    text-decoration none