.cardVideo
    flex 0 1 auto
    align-self stretch
    width 100%
    height 100%
    position relative
    box vertical middle left
    align-self stretch
.cardVideoImage
    position absolute
    size 100%
    z-index -1
    background-size cover
    background-position center center
    background-repeat no-repeat

.cardVideoContent
    flex 0 1 auto
    width 100%
    padding 0px 80px 0

    box vertical center left

.cardVideoTitle
    flex 0 1 auto
    margin-bottom 15px
    span
        display inline-block
        position relative
        font-family 'decima', Arial, Helvetica, sans-serif
        color #f5f5f5
        font-size 16px
        font-weight 400
        line-height 20px
        text-transform uppercase
        &:after
            content ''
            position absolute
            size 100% 2px
            background #f5f5f5
            left 0
            bottom -3px

.cardVideoQuote
    flex 0 1 auto
    margin-bottom 30px
    color #f5f5f5
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 200
    line-height 37px

.cardVideoControl
    flex 0 1 auto
    button
        box horizontal middle
        svg
            size 18px
            padding-bottom 1px
            margin-right 14px
