.cabinet
    box horizontal top
    width 100%
    padding 0 125px
    margin-bottom 50px
.cabinetSidebar
    lost-column 2/12 flex
    box vertical top
.cabinetMain
    lost-column 10/12 flex
.cabinetBack
    display block
    box horizontal middle
    text-decoration none
    margin-bottom 30px
    span
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 28px
    svg
        size 28px
        margin-right 15px
        margin-left -8px
.cabinetHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 10px
    box horizontal middle space-between
    h1
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        color #242424
        text-transform uppercase
.cabinetSubheader
    margin-bottom 16px
    h3
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 23px
        text-transform uppercase
.cabinetHeaderStatus
    display block
    color #FFF
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 36px
    height 36px
    padding 0 40px
    text-decoration none
    &Black
        background-color #000
    &Grey
        background-color #90908f