.cabinetOrder
    display block
    position relative
    background-color #f5f5f5
    padding 44px 94px
    margin-bottom 40px
.cabinetOrderTable
    margin-bottom 29px
    table
        width 100%
        td
            color #242424
            font-size 16px
            font-family 'graphik', Arial, Helvetica, sans-serif
            font-weight 400
            line-height 34px
            &:first-child
                color #90908f

.cabinetOrderControl
    a
        margin-right 10px

.cabinetOrderNext
    box vertical middle center
    width 100%
    background-color #f5f5f5
    text-decoration none
    height 100px
    span
        color #242424
        font-size 18px
        font-weight 400
        line-height 23px
        text-transform uppercase
        font-family 'decima', Arial, Helvetica, sans-serif
        margin-bottom 10px
    svg
        size 20px
        transform rotate(-90deg)