.buttonBlue
    display inline-block
    position relative
    border 0
    outline 0
    color #242424
    background-color #44c8f5
    font-family "graphik", Arial, Helvetica, sans-serif
    text-decoration none
    font-size 14px
    font-weight 300
    line-height 40px
    min-height 40px
    padding 1px 28px 0
    text-transform uppercase
    height 40px
    transition all .4s
    white-space nowrap
    &:hover
        color #fff
        background-color #87dbff

.buttonBlueMedium
    display inline-block
    position relative
    border 0
    outline 0
    color #fff
    background-color #44c8f5
    font-family "graphik", Arial, Helvetica, sans-serif
    text-decoration none
    font-size 14px
    font-weight 300
    line-height 40px
    min-height 40px
    padding 1px 28px 0
    text-transform uppercase
    height 40px
    transition all .4s
    white-space nowrap
    &:hover
        color #fff
        background-color #87dbff
.buttonBlueMore
    position relative
    border 0
    outline 0
    color #fff
    background-color #44c8f5
    font-family "graphik", Arial, Helvetica, sans-serif
    text-decoration none
    font-size 40px
    font-weight 200
    line-height 60px
    //padding 1px 28px 0
    text-align center
    text-transform uppercase
    height 60px
    width 60px
    transition all .4s
    white-space nowrap
    &:hover
        color #fff
        background-color #87dbff

.buttonBlueSmall
    display block
    position relative
    border 0
    outline 0
    color #fff
    font-family "graphik", Arial, Helvetica, sans-serif
    font-size 8px
    font-weight 400
    line-height 24px
    padding 1px 15px 0
    text-transform uppercase
    height 24px
    background-color #44c8f5
    white-space nowrap
    &:hover
        color #fff
        background-color #87dbff
