.buttonGrey
    position relative
    border 0
    outline 0
    color #242424
    background-color #f0f0f2
    font-family 'graphik', Arial, Helvetica, sans-serif
    text-decoration none
    font-size 14px
    font-weight 300
    line-height 40px
    padding 1px 28px 0
    text-transform uppercase
    height 40px
    transition all .4s
    white-space nowrap
    &:hover
        color #fff
        background-color #87dbff
.buttonDarkGrey
    display inline-block
    position relative
    border 0
    outline 0
    color #fff
    background-color #90908f
    font-family 'graphik', Arial, Helvetica, sans-serif
    text-decoration none
    font-size 14px
    font-weight 400
    line-height 40px
    padding 1px 28px 0
    text-transform uppercase
    height 40px
    transition all .4s
    white-space nowrap
    &:hover
        color #fff
        background-color #87dbff
.buttonGreyBig
    position relative
    border 0
    outline 0
    color #242424
    background-color #f0f0f2
    font-family 'graphik', Arial, Helvetica, sans-serif
    text-decoration none
    font-size 14px
    font-weight 300
    line-height 60px
    padding 1px 55px 0
    text-transform uppercase
    height 60px
    transition all .4s
    white-space nowrap
    &:hover
        color #fff
        background-color #87dbff
